[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "*"
vedo = "*"
scikit-learn = "*"
pywavefront = "*"
scipy = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
